@charset "UTF-8";
.container {
  font-family: "Roboto";
}

/*Agencement des titres de la page d'accueil*/
.heading-home-description__title1,
.heading-home-description__title2 {
  text-align: center;
}

.heading-home-description__title1 {
  padding-top: 30px;
  font-weight: bolder;
  margin: 0 60px;
  font-size: 1.5rem;
}

.heading-home-description__title2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 20px 15px;
}

/*Gros titre de la carte de chaque menu*/
#menu-page1 h1,
#menu-page2 h1,
#menu-page3 h1,
#menu-page4 h1 {
  font-family: "Shrikhand";
  font-size: 1.7rem;
  margin-left: 20px;
}

/*Entrées, Plat et Desserts de la carte de chaque menu*/
#menu-page1 h2,
#menu-page2 h2,
#menu-page3 h2,
#menu-page4 h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 40px 0 0 20px;
}

#menu-page1 h3,
#menu-page2 h3,
#menu-page3 h3,
#menu-page4 h3 {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 1.1rem;
}

#menu-page1 h4,
#menu-page2 h4,
#menu-page3 h4,
#menu-page4 h4 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: -15px 0 0 15px;
}

/* Soulignement partiel des titres Entrées Plats Desserts*/
#menu-page1 h2,
#menu-page2 h2,
#menu-page3 h2,
#menu-page4 h2 {
  position: relative;
}

#menu-page1 h2::before,
#menu-page2 h2::before,
#menu-page3 h2::before,
#menu-page4 h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 12%;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: -8px;
}

/*Bouton de 'Explorer nos restaurants'*/
.heading-home-description__btn {
  border: 0px #FF79DA solid;
  border-radius: 5rem;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 3px 3px 3px #9356DC;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  height: 20px;
  width: 43vw;
  padding: 9px;
  margin: 30px auto;
  cursor: pointer;
  transition: transform 400ms;
}
.heading-home-description__btn :visited {
  color: white;
}
.heading-home-description__btn:hover {
  opacity: 0.8;
  transform: scale(1.15);
  box-shadow: 8px 8px 8px #9356DC;
}

/*A mettre dans le format ordinateur car c'est seulement au survol que c'est demandé de s'éclaircir*/
/*Bouton 'Commander' en fin de présentation du menu*/
.btn-order {
  border: 0px #FF79DA solid;
  border-radius: 2rem;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 3px 3px 3px #9356DC;
  cursor: pointer;
  margin: 50px auto 0px auto;
  padding: 10px;
  text-align: center;
  color: white;
  width: 35vw;
  height: 20px;
  transition: transform 400ms;
}
.btn-order :visited {
  color: white;
}
.btn-order:hover {
  opacity: 0.8;
  transform: scale(1.15);
  box-shadow: 8px 8px 8px #9356DC;
}

/*Placement du coeur vide près du gros titre de la carte*/
.menu-page1__description,
.menu-page2__description,
.menu-page3__description,
.menu-page4__description {
  position: relative;
}

/*Remplissage du coeur sur les Pages1 Pages2 Pages 3 et Pages4*/
.menu-page1__heart,
.menu-page2__heart,
.menu-page3__heart,
.menu-page4__heart {
  position: absolute;
  right: 35px;
  top: 6px;
  font-size: 1.4rem;
  cursor: pointer;
}

.menu-page1__heartfull,
.menu-page2__heartfull,
.menu-page3__heartfull,
.menu-page4__heartfull {
  background: -webkit-linear-gradient(top, #9356DC 30%, #FF79DA 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  right: 35px;
  top: 6px;
  font-size: 1.4rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 350ms;
}
.menu-page1__heartfull:active,
.menu-page2__heartfull:active,
.menu-page3__heartfull:active,
.menu-page4__heartfull:active {
  opacity: 1;
}

/*Remplissage du coeur uniquement sur la page d'accueil*/
.menu-page1__heartfullhome {
  background: -webkit-linear-gradient(top, #9356DC 30%, #FF79DA 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  right: 20px;
  top: 4px;
  font-size: 1.4rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 350ms;
}
.menu-page1__heartfullhome:active {
  opacity: 1;
}

.container a, a:link, a:visited {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
}

.heading-home-logo {
  text-align: center;
  height: 30px;
  padding: 15px 0 30px 0;
  border-bottom: 3px #d6d4d4 solid;
}
.heading-home-logo__img {
  height: 6vh;
  width: 200px;
}

.heading-home-search {
  padding-left: 110px;
  height: 5vh;
  padding-top: 10px;
  background-color: #e2dfdf;
}
.heading-home-search__map {
  margin-right: 10px;
}

@media screen and (max-width: 414px) {
  .heading-home-search {
    padding-left: 130px;
  }
}
.heading-home-field {
  outline: none;
  border: hidden;
  background-color: #e2dfdf;
  font-size: 1.1rem;
}

input::placeholder {
  color: black;
  font-size: 1rem;
  background-color: #e2dfdf;
}

.heading-home-description {
  background-color: #f1efef;
  height: 270px;
}

header {
  position: relative;
}

.heading-page1,
.heading-page2,
.heading-page3,
.heading-page4 {
  text-align: center;
  padding: 15px 0 10px 0;
}
.heading-page1__return,
.heading-page2__return,
.heading-page3__return,
.heading-page4__return {
  font-size: 1.4rem;
  position: absolute;
  left: 20px;
  top: 25px;
}
.heading-page1__logo,
.heading-page2__logo,
.heading-page3__logo,
.heading-page4__logo {
  width: 200px;
  height: 40px;
}

.heading-page1__img,
.heading-page2__img,
.heading-page3__img,
.heading-page4__img {
  width: 100vw;
  object-fit: cover;
}

.nav-home-title {
  margin: 50px 0 30px 30px;
}

nav a {
  /*Pour ne pas que le lien prenne toute la largeur*/
  display: inline-block;
}
nav a :hover {
  background: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.8;
  color: white;
  /*Cette icône du stand ne blanchissait pas du fait que j'ai codé plus bas un adoucissment*/
}
nav a :hover .nav-home-taste__store {
  color: white;
}
nav ul {
  list-style-type: none;
  background-color: #f1efef;
  width: 310px;
  height: 2.3rem;
  display: flex;
  border: 1px #f1efef solid;
  border-radius: 1.5rem;
  box-shadow: 6px 6px 4px #dfdede;
  margin: 0 0 20px 30px;
  padding: 25px 0 0 0px;
  transform: scale(1);
  transition: transform 400ms;
  /*Placement du transform scale ici et non dans la balise a du nav car tout les li grossissaient indépendament quand on passait dessus*/
}
nav ul:hover {
  transform: scale(1.1);
}
nav li {
  margin: 0 20px 0 -7px;
  padding-left: 10px;
}

@media screen and (max-width: 414px) {
  nav ul {
    margin: 0 0 20px 52px;
  }
}
/*Configuration des chiffres encerclés*/
.nav-home-choose__number1,
.nav-home-compose__number2,
.nav-home-taste__number3 {
  border: 1px #9356DC solid;
  border-radius: 50%;
  padding: 1px 4px 2px 4px;
  height: 1rem;
  background-color: #9356DC;
  color: white;
  font-size: 0.9rem;
}

/*Adoucissement de la teinte noire du stand*/
.nav-home-taste__store {
  color: #3b3636;
}

/*GénéralitéS sur la page d'accueil*/
#menu-home-page {
  margin-top: 50px;
  height: 1200px;
  background-color: #f1efef;
}

.main-title {
  margin-left: 30px;
  padding-top: 50px;
}

/*caractéristiques des images de la page d'accueil*/
#menu-home-page img {
  width: 85vw;
  height: 180px;
  margin-left: -12px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/*Mise en forme des images de la page d'accueil*/
.main-home-menu1__img,
.main-home-menu2__img,
.main-home-menu3__img,
.main-home-menu4__img {
  object-fit: cover;
}

/* dimensions du cadre descriptif contenant les deux titres sans le mot Nouveau*/
.main-home-menu1__description--legend,
.main-home-menu2__description--legend,
.main-home-menu3__description--legend,
.main-home-menu4__description--legend {
  position: relative;
}

/* dimensions du cadre descriptif contenant les deux titres + le mot Nouveau*/
.main-home-menu1__description,
.main-home-menu2__description,
.main-home-menu3__description,
.main-home-menu4__description {
  border: 1px #eeecec solid;
  box-shadow: 2px 2px 8px #d4d3d3;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: white;
  width: 84.99vw;
  margin-left: -12px;
  margin-top: -5px;
}

/* Caractéristiques des titres de la description sur la page d'accueil*/
#menu-home-page h3 {
  margin-top: 10px;
  font-size: 1.1rem;
  padding-left: 16px;
}

#menu-home-page h4 {
  margin-top: -15px;
  padding-left: 16px;
  font-weight: normal;
  font-size: 0.9rem;
}

/*Placement du coeur dans la page d'accueil*/
.main-home-menu1__heart,
.main-home-menu2__heart,
.main-home-menu3__heart,
.main-home-menu4__heart {
  font-size: 1.4rem;
  position: absolute;
  right: 20px;
  top: 4px;
}

/*Mise en place du signal "Nouveau"*/
.main-home-menu1,
.main-home-menu2 {
  position: relative;
}

main h6 {
  position: absolute;
  right: 0;
  top: -20px;
  background-color: #99E2D0;
  color: #4e7c4e;
  width: 70px;
  height: 19px;
  font-size: 0.9rem;
  text-align: center;
  padding-top: 3px;
}

/*Généralités sur tout le main et mise en position relative du header pour que le main chevauche l'image*/
header {
  z-index: 1;
  position: relative;
}

#menu-page1,
#menu-page2,
#menu-page3,
#menu-page4 {
  background-color: #f1efef;
  margin-top: -55px;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 1155px;
}

#menu-page2 {
  background-color: #f1efef;
  margin-top: -155px;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 1240px;
}

/* Agencement des légendes des plats */
.menu-page1__starters--mainNames1, .menu-page1__starters--mainNames2, .menu-page1__starters--mainNames3,
.menu-page1__main--mainNames1, .menu-page1__main--mainNames2, .menu-page1__main--mainNames3,
.menu-page1__desserts--mainNames1, .menu-page1__desserts--mainNames2, .menu-page1__desserts--mainNames3,
.menu-page2__starters--mainNames1, .menu-page2__starters--mainNames2, .menu-page2__starters--mainNames3,
.menu-page2__starters--mainNames4,
.menu-page2__main--mainNames1, .menu-page2__main--mainNames2, .menu-page2__main--mainNames3,
.menu-page2__desserts--mainNames1, .menu-page2__desserts--mainNames2, .menu-page2__desserts--mainNames3,
.menu-page3__starters--mainNames1, .menu-page3__starters--mainNames2, .menu-page3__starters--mainNames3,
.menu-page3__main--mainNames1, .menu-page3__main--mainNames2, .menu-page3__main--mainNames3,
.menu-page3__desserts--mainNames1, .menu-page3__desserts--mainNames2, .menu-page3__desserts--mainNames3,
.menu-page4__starters--mainNames1, .menu-page4__starters--mainNames2, .menu-page4__starters--mainNames3,
.menu-page4__main--mainNames1, .menu-page4__main--mainNames2, .menu-page4__main--mainNames3,
.menu-page4__desserts--mainNames1, .menu-page4__desserts--mainNames2, .menu-page4__desserts--mainNames3 {
  position: relative;
  border: 1px #f3f2f2 solid;
  border-radius: 1rem;
  box-shadow: 6px 6px 4px #dfdede;
  background-color: white;
  margin: 20px auto;
  width: 90vw;
  height: 60px;
}

/*Installation des points de suspensions en cas de rétrécissement du bloc*/
/*Entrées*/
.menu-page1__starters--dishnames, .menu-page2__starters--dishnames, .menu-page3__starters--dishnames, .menu-page4__starters--dishnames,
.menu-page1__starters--accompaniment, .menu-page2__starters--accompaniment, .menu-page3__starters--accompaniment, .menu-page4__starters--accompaniment,
.menu-page1__main--dishnames, .menu-page2__main--dishnames, .menu-page3__main--dishnames, .menu-page4__main--dishnames,
.menu-page1__main--accompaniment, .menu-page2__main--accompaniment, .menu-page3__main--accompaniment, .menu-page4__main--accompaniment,
.menu-page1__desserts--dishnames, .menu-page2__desserts--dishnames, .menu-page3__desserts--dishnames, .menu-page4__desserts--dishnames,
.menu-page1__desserts--accompaniment, .menu-page2__desserts--accompaniment, .menu-page3__desserts--accompaniment, .menu-page4__desserts--accompaniment {
  width: 70vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*Affichage des prix*/
.menu-page1__starters--price, .menu-page1__main--price, .menu-page1__desserts--price,
.menu-page2__starters--price, .menu-page2__main--price, .menu-page2__desserts--price,
.menu-page3__starters--price, .menu-page3__main--price, .menu-page3__desserts--price,
.menu-page4__starters--price, .menu-page4__main--price, .menu-page4__desserts--price {
  position: absolute;
  top: 19px;
  right: 20px;
  font-weight: 600;
}

/*Footer pour la page d'accueil car ensuite dans les autres pages on doit utiliser le positionnement relatif*/
.container0 footer {
  color: white;
  background-color: #333232;
  height: 250px;
}
.container0 footer p {
  margin-left: 20px;
}
.container0 footer ul {
  list-style-type: none;
  display: flex;
}

/*Footer pour les page1 page2 page3 et page4 uniquement du fait du positionnement relatif par-dessus l'image*/
.container1 footer,
.container3 footer,
.container4 footer {
  color: white;
  background-color: #333232;
  height: 250px;
  position: absolute;
  top: 1420px;
  width: 100%;
}
.container1 footer p,
.container3 footer p,
.container4 footer p {
  margin-left: 20px;
}
.container1 footer ul,
.container3 footer ul,
.container4 footer ul {
  list-style-type: none;
  display: flex;
}

.container2 footer {
  color: white;
  background-color: #333232;
  height: 250px;
  position: absolute;
  top: 1620px;
  width: 100%;
}
.container2 footer p {
  margin-left: 20px;
}
.container2 footer ul {
  list-style-type: none;
  display: flex;
}

.footer-logo {
  width: 25vw;
  height: 4vh;
  filter: invert(1);
  margin: 20px 0 0 20px;
}

@media screen and (max-width: 414px) {
  .container0 footer {
    height: 220px;
  }

  .container1 .footer-logo, .container3 .footer-logo {
    margin: 50px 0 0 20px;
  }

  .container2 footer {
    margin: 55px 0 0 0px;
    height: 220px;
  }

  .container4 footer {
    margin: 35px 0 0 0px;
    height: 220px;
  }
}
.footer-menu__propose--ustensils {
  margin: 0 15px 0 -20px;
}
.footer-menu__partner--hands {
  margin: 0 7px 0 -20px;
}

.footer-menu__contact a:link, :visited {
  color: white;
}

/*# sourceMappingURL=gastronomie.css.map */
