
/*Bouton de 'Explorer nos restaurants'*/
.heading-home-description__btn {
    border-radius: 5rem;
    background: linear-gradient($Color-Secondary,$Color-Primary);
    box-shadow: 3px 3px 3px $Color-Primary;
    font-size: .9rem;
    font-weight:bold;
    text-align: center;
    width: 43vw;
    max-width: 300px;
    padding: 9px;
    margin: 30px auto;
    cursor: pointer;
    transition: transform 400ms;
   

        & a {
            color: white;
       }
    
        & :visited{
            color: white;
        }

        &:active {
            opacity: .9;
            transform: scale(1.15);
            box-shadow: 8px 8px 8px $Color-Primary;
        }
        
        &:hover{
            opacity: .9;
            transform: scale(1.15);
            box-shadow: 8px 8px 8px $Color-Primary;  
            & a {
                color: white;
              }   
            }

         
        

        /*A mettre dans le format ordinateur car c'est seulement au survol que c'est demandé de s'éclaircir*/
        @media screen and (min-width:1024px){
            font-size: 1.5rem;
            padding-top: 12px;
            height: 30px;

            &:hover{
            opacity: .9;
            transform: scale(1.15);
            box-shadow: 8px 8px 8px $Color-Primary;  
            & a {
                color: white;
              }   
            }
        }
    }

/*Bouton 'Commander' en fin de présentation du menu*/
.btn-order {

    border: 0px $Color-Secondary solid;
    border-radius: 2rem;
    background: linear-gradient($Color-Secondary,$Color-Primary);
    box-shadow: 3px 3px 3px $Color-Primary;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 50px auto 0px auto;
    padding: 10px;
    text-align: center;
    width: 37vw;
    max-width: 300px;
    transition: transform 400ms;

    & a:link {
        color: white;
    }

    & :visited{
        color: white;
    }

    &:active {
        opacity: .9;
        transform: scale(1.15);
        box-shadow: 8px 8px 8px $Color-Primary;
            }

        &:hover{
            opacity: .9;
            transform: scale(1.15);
            box-shadow: 8px 8px 8px $Color-Primary;  
            & a {
                color: white;
              }   
            }
    
    /*A mettre dans le format ordinateur car c'est seulement au survol que c'est demandé de s'éclaircir*/
    @media screen and (min-width:1024px){

        font-size: 2.5rem;
        &:hover{
            opacity: .9;
        transform: scale(1.15);
        box-shadow: 8px 8px 8px $Color-Primary;
        & a {
            color: white;
          }  
        }
    }
}

/*Placement du coeur vide près du gros titre de la carte*/
.menu-page1__description,
.menu-page2__description,
.menu-page3__description,
.menu-page4__description {
    position: relative;
    
}
/*Remplissage du coeur sur les Pages1 Pages2 Pages 3 et Pages4*/
.menu-page1__heart,
.menu-page2__heart,
.menu-page3__heart,
.menu-page4__heart{
    position: absolute;
    right: 35px;
    top:6px;
    font-size: $Fontsize-Heart;

    @media screen and (min-width:1024px){
        font-size: 5rem;
        right: 100px;
        top:0px;
    }

    cursor: pointer; 
    }

    .menu-page1__heartfull,
    .menu-page2__heartfull,
    .menu-page3__heartfull,
    .menu-page4__heartfull {
        // Dégradé de la couleur du coeur rempli
        background:-webkit-linear-gradient(top, $Color-Primary 30%, $Color-Secondary 70%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;

        position: absolute;
        right: 34px;
        top:4px;
        font-size: 1.6rem;
        @media screen and (min-width:1024px){
            font-size: 5.5rem;
            right: 96px;
            top:-4px;
        }
        opacity: 0;       
        cursor: pointer;    
        transition: opacity 1200ms;
        
        &:hover {
            opacity: 1;
        }
    }

/*Remplissage du coeur uniquement sur la page d'accueil*/

    .menu-home__heartfullhome {
        // Dégradé de la couleur du coeur rempli
        background:-webkit-linear-gradient(top, $Color-Primary 30%, $Color-Secondary 70%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;

        position: absolute;
        right: 20px;
        top: 4px;
        font-size: $Fontsize-Heart;
        opacity: 0;  

        cursor: pointer;    
        transition: opacity 600ms;

        &:active {                  
            opacity: 1;
        } 
      
        @media screen and (min-width:1024px){
        font-size: 2.7rem;
        right: 28px;
        top:14px;  
        transition: opacity 1000ms;

           &:hover {
               opacity: 1;
           }
        }    
    }


   

    