body {
  font-family: $Police-Texte, sans-serif;
}

/*Agencement des titres de la page d'accueil*/
.heading-home-description__title1,
.heading-home-description__title2 {
  text-align: center;
}

.heading-home-description__title1 {
  padding-top: 30px;
  font-weight: bolder;
  margin: 0 60px;
  font-size: 1.5rem;
  @media screen and (min-width: 1024px) {
    font-size: 3.5rem;
  }
}

.heading-home-description__title2 {
  font-size: 1.1rem;
  @media screen and (min-width: 1024px) {
    font-size: 2rem;
  }
  font-weight: normal;
  margin: 20px 15px;
}

/*Gros titre de la carte de chaque menu*/
#menu-page h1 {
  font-family: "Shrikhand";
  font-size: 1.7;
  margin-left: 5vw;
}

/*Entrées, Plat et Desserts de la carte de chaque menu*/
#menu-page h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 40px 0 0px 5vw;
}

#menu-page h3 {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 1.1rem;
}

#menu-page h4 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: -10px 0 0 15px;
}

@media screen and (min-width: 1024px) {
  #menu-page h1 {
    font-size: $Fontsize-TitleMenu;
  }

  #menu-page h2 {
    font-size: $Fontsize-TitleService;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  #menu-page h3{
    font-size: $Fontsize-NamePlate;
    margin-left: 50px;
  }
  #menu-page h4 {
    font-size: $Fontsize-NameAccp;
    margin-left: 50px;
  }
}
/* Soulignement partiel des titres Entrées Plats Desserts*/
#menu-page h2 {
  position: relative;
}

#menu-page h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  border-bottom: 3px solid $Color-Tertiary;
  margin-bottom: -8px;

  @media screen and (min-width: 1024px) {
    width: 70px;
  }
}
