$Police-Logo-Titres: 'Shrikhand';
$Police-Texte:'Roboto';
$Color-Primary: #9356DC;
$Color-Secondary: #FF79DA;
$Color-Tertiary: #99E2D0;
$Color-Bkg:rgb(241, 239, 239);
$Fontsize-Heart:1.4rem;
$Fontsize-TitleMenu:1.7rem;