.container a, a:link, a:visited {
    text-decoration: none;
    color: black
}

body {
    margin: 0;
}

// @media screen and (min-width:1024px){
//     .container1,.container2,.container3,.container4 {
// width: 80%;
//     }
// }

// @media screen and (min-width:1024px){
//     body {
//         width: 80%;
//     }
// }


