.nav-home-title {
    margin: 50px 0 30px -25vw;   


@media screen and (min-width:415px){
        text-align: center;
        margin: 50px 0 30px 8.4vw;
        }

        @media screen and (min-width:1024px){
            font-size: 2rem;
        }
}

nav {
    text-align: center;
    margin-right: 7vw;

    a { 
        display: inline-block; /*Pour ne pas que le lien prenne toute la largeur*/
  
        & :hover {         
            background: linear-gradient($Color-Secondary ,$Color-Primary );
            opacity: 0.8;   
            color: white;  
            /*Cette icône du stand ne blanchissait pas du fait que j'ai codé plus bas un adoucissment*/ 
            .nav-home-taste__store {
                color: white;
            }  
        }
      }

    ul {
        list-style-type: none;
        background-color: $Color-Bkg;
        width: 82vw;
        max-width: 270px;
        height: 2.5rem;
        @media screen and (min-width:1024px){
            max-width: 350px;
        }
        
        display: flex;
        border: 1px $Color-Bkg solid;
        border-radius: 1.5rem;
        box-shadow: 6px 6px 4px rgb(223, 222, 222);
        margin:0 0 20px 30px;
 
        padding: 25px 0 0 0px;    
        transform: scale(1);
        transition: transform 400ms;
/*Placement du transform scale ici et non dans la balise a du nav car tout les li grossissaient indépendament quand on passait dessus*/
             &:hover{
                transform: scale(1.1);
             }      
        }
   
        li {
            margin: 0 20px 0 -7px;
            padding-left: 10px;
        } 
}

/*Configuration des chiffres encerclés*/
.nav-home-choose__number1,
.nav-home-compose__number2,
.nav-home-taste__number3 {
    border: 1px $Color-Primary solid ;
    border-radius: 50%;
    padding: 1px 4px 2px 4px;
    height: 1rem;
    background-color: $Color-Primary;
    color: white;
    font-size: .9rem;
    @media screen and (min-width:1024px){
        padding: 3px 12px 15px 12px;
    }
}
/*Adoucissement de la teinte noire du stand*/
.nav-home-taste__store {
    color: rgb(59, 54, 54);
}

/*Police du nav fonctionnement*/
.nav-home-choose__phrasing,
.nav-home-compose__phrasing,
.nav-home-taste__phrasing {
    font-size: 1.1rem;
}


@media screen and (min-width:1024px){
.nav-home-choose__number1,.nav-home-compose__number2,.nav-home-taste__number3,
.nav-home-choose__phrasing,.nav-home-compose__phrasing,.nav-home-taste__phrasing,
.nav-home-choose__mobile,.nav-home-compose__menu,.nav-home-taste__store {
        font-size: 1.5rem; }
        nav ul {
            width: auto;
            margin-left: 100px;
            padding: 25px 20px 20px 0px;
        }
    }
