
.footer-logo {

    height: 50px;
    width: 200px;
    filter: invert(1);
    margin: 85px 0 0 40px;

    @media screen and (max-width:414px){

       height: 20px;
       width: 110px;
       margin-top:95px ; 
       }
    }

    @media screen and (max-width:414px) {
        .container2 .footer-logo {
            margin-top: 85px;
        }

        .container0 .footer-logo {
            margin-top: 30px;
        }
    }
    .container0 .footer-logo{
        margin: 25px 0 0 40px;
    }
    

    .container0 footer,
    .container1 footer,
    .container2 footer,
    .container3 footer,
    .container4 footer {
        color: white;
        background-color: rgb(51, 50, 50);
        width: 100%; 
        & p {
            margin-left: 40px;
        }
        & ul {
            list-style-type: none;
            display: flex;
        }
    }

  

    .container1 footer,
    .container3 footer,
    .container4 footer {
    margin-top: 1100px;
}

.container2 footer {  
    margin-top: 1090px;
}

.footer-menu {
        &__propose--ustensils {
            margin: 0 15px 0 0px;
        }
        &__partner--hands {
            margin: 0 7px 0 0px;
        }
}

.footer-menu__contact a:link, :visited{
    color: white;
    &:hover {
        color:$Color-Secondary ;
        border-bottom: 3px $Color-Secondary solid;
        padding-bottom: 5px;
    }
}

.footer-menu__contact{
    padding-bottom: 40px;
}






@media screen and (min-width:1024px){

    .container0 footer {
        padding-top: 10px;
    }

    .container1 footer,
    .container3 footer,
    .container4 footer {
    margin-top: 1040px;
}

    .container2 footer {
        padding-top:1870px ;
    }
    footer {
      
        padding-top: 1780px;
     
    .footer-logo{
        margin-top:60px;
    }

       & .footer-menu__propose,
       & .footer-menu__partner,
       & p {
    font-size: 3rem;
    margin-right: 20px;
    }
 }
}

@media screen and (min-width:1900px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    } 

    .footer-menu__contact {
        margin-top: 90px;
    }
}