// ----------------------------PAGE D'ACCUEIL----------------------


/*GénéralitéS sur la page d'accueil*/
#menu-home-page {
    margin-top: 50px;
    height: 1200px;
    background-color: rgb(241, 239, 239) ;
}

.main-title {
    margin-left: 30px;
    padding-top: 50px;
}
/*caractéristiques des images de la page d'accueil*/
#menu-home-page img {
    width: 85vw;
    height: 180px;
    margin-left: -12px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/*Mise en forme des images de la page d'accueil*/
.main-home-menu1__img,
.main-home-menu2__img,
.main-home-menu3__img,
.main-home-menu4__img {
    object-fit: cover;
}

/* dimensions du cadre descriptif contenant les deux titres sans le mot Nouveau*/
.main-home-menu1__description--legend,
.main-home-menu2__description--legend,
.main-home-menu3__description--legend,
.main-home-menu4__description--legend {
    position: relative;
}
/* dimensions du cadre descriptif contenant les deux titres + le mot Nouveau*/
.main-home-menu1__description,
.main-home-menu2__description,
.main-home-menu3__description,
.main-home-menu4__description {
    border: 1px rgb(238, 236, 236) solid;
    box-shadow: 2px 2px 8px rgb(212, 211, 211);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    width: 84.99vw;
    margin-left: -12px;
    margin-top: -5px;
}

/* Caractéristiques des titres de la description sur la page d'accueil*/
#menu-home-page h3 {
    margin-top: 10px;
    font-size: 1.1rem;
    padding-left: 16px;
}

#menu-home-page h4 {
    margin-top: -15px;
    padding-left: 16px;
    font-weight: normal;
    font-size: .9rem;
}

/*Placement du coeur dans la page d'accueil*/
.main-home-menu1__heart,
.main-home-menu2__heart,
.main-home-menu3__heart,
.main-home-menu4__heart {
    font-size: $Fontsize-Heart;
    position: absolute;
    right: 20px;
    top: 4px;
}

/*Mise en place du signal "Nouveau"*/
.main-home-menu1,
.main-home-menu2 {
    position: relative;
}

main h6 {
    position: absolute;
    right: 0;
    top: -20px;
    background-color: $Color-Tertiary;
    color: rgb(78, 124, 78);
    width: 70px;
    height: 19px;
    font-size: .9rem;
    text-align: center;
    padding-top: 3px;
}

// -----------------------PAGE1 PAGE2 PAGE3 PAGE4------------------------

/*Généralités sur tout le main et mise en position relative du header pour que le main chevauche l'image*/
header {
    z-index: 1;
    position: relative;
}

#menu-page1,
#menu-page2,
#menu-page3,
#menu-page4 {
    background-color: $Color-Bkg ;
    margin-top: -55px;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 1155px;
}
// ---------------------Particularité de la page 2  et son main plus long------------
#menu-page2 {
    background-color: $Color-Bkg ;
    margin-top: -155px;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 1240px;
}

/* Agencement des légendes des plats */

.menu-page1__starters--mainNames1,.menu-page1__starters--mainNames2,.menu-page1__starters--mainNames3,
.menu-page1__main--mainNames1,.menu-page1__main--mainNames2,.menu-page1__main--mainNames3,
.menu-page1__desserts--mainNames1,.menu-page1__desserts--mainNames2,.menu-page1__desserts--mainNames3,

.menu-page2__starters--mainNames1,.menu-page2__starters--mainNames2,.menu-page2__starters--mainNames3,
.menu-page2__starters--mainNames4,

.menu-page2__main--mainNames1,.menu-page2__main--mainNames2,.menu-page2__main--mainNames3,
.menu-page2__desserts--mainNames1,.menu-page2__desserts--mainNames2,.menu-page2__desserts--mainNames3,

.menu-page3__starters--mainNames1,.menu-page3__starters--mainNames2,.menu-page3__starters--mainNames3,
.menu-page3__main--mainNames1,.menu-page3__main--mainNames2,.menu-page3__main--mainNames3,
.menu-page3__desserts--mainNames1,.menu-page3__desserts--mainNames2,.menu-page3__desserts--mainNames3,

.menu-page4__starters--mainNames1,.menu-page4__starters--mainNames2,.menu-page4__starters--mainNames3,
.menu-page4__main--mainNames1,.menu-page4__main--mainNames2,.menu-page4__main--mainNames3,
.menu-page4__desserts--mainNames1,.menu-page4__desserts--mainNames2,.menu-page4__desserts--mainNames3 {
    position: relative;
    border: 1px rgb(243, 242, 242) solid;
    border-radius: 1rem;
    box-shadow: 6px 6px 4px rgb(223, 222, 222);
    background-color: white;
    margin: 20px auto;
    width: 90vw;
    height: 60px;
}

/*Installation des points de suspensions en cas de rétrécissement du bloc*/

/*Entrées*/
.menu-page1__starters--dishnames,.menu-page2__starters--dishnames,.menu-page3__starters--dishnames,.menu-page4__starters--dishnames,
.menu-page1__starters--accompaniment,.menu-page2__starters--accompaniment,.menu-page3__starters--accompaniment,.menu-page4__starters--accompaniment,
/*Plats*/
.menu-page1__main--dishnames,.menu-page2__main--dishnames,.menu-page3__main--dishnames,.menu-page4__main--dishnames,
.menu-page1__main--accompaniment,.menu-page2__main--accompaniment,.menu-page3__main--accompaniment,.menu-page4__main--accompaniment,
/*Desserts*/
.menu-page1__desserts--dishnames,.menu-page2__desserts--dishnames,.menu-page3__desserts--dishnames,.menu-page4__desserts--dishnames,
.menu-page1__desserts--accompaniment,.menu-page2__desserts--accompaniment,.menu-page3__desserts--accompaniment,.menu-page4__desserts--accompaniment{
    width: 70vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*Affichage des prix*/
.menu-page1__starters--price,.menu-page1__main--price,.menu-page1__desserts--price,
.menu-page2__starters--price,.menu-page2__main--price,.menu-page2__desserts--price,
.menu-page3__starters--price,.menu-page3__main--price,.menu-page3__desserts--price,
.menu-page4__starters--price,.menu-page4__main--price,.menu-page4__desserts--price {
    position: absolute;
    top: 19px;
    right: 20px;
    font-weight: 600;
}













